<div class="times-container">

  <div class="title">Cadastro das Seleções</div>

  <form [formGroup]="formGroupTimes">
    <div class="mb-3">
      <label for="inputNational" class="form-label">Seleção</label>
      <input formControlName="national" type="text" class="form-control" id="inputNational">
    </div>

    <div class="mb-3">
      <label for="inputTrainer" class="form-label">Treinador</label>
      <input formControlName="trainer" type="text" class="form-control" id="inputTrainer">
    </div>

    <div class="mb-3">
      <label for="inputDate" class="form-label">Data do jogo</label>
      <input formControlName="date" type="date" class="form-control" id="inputDate">
    </div>

    <div class="mb-3">
      <label for="inputFisic" class="form-label">Preparador Físico</label>
      <input formControlName="fisic" type="text" class="form-control" id="inputFisic">
    </div>

    <button type="submit" class="btn btn-save" (click)="save()">Salvar</button>
  </form>
</div>

<h4>Times cadastrados (lista de espera)</h4>
<div class="times-list"
     cdkDropList
     [cdkDropListData]="listaEspera"
     [cdkDropListConnectedTo]="groupIds"
     (cdkDropListDropped)="drop($event, -1)">
  <div *ngFor="let t of listaEspera"
       cdkDrag
       class="time-card">
    {{t.national}}
    <button class="delete-btn" (click)="deleteTime(t)">🗑️</button>
  </div>
</div>



<div class="groups">
  <div *ngFor="let g of grupos; let i = index"
       cdkDropList
       [id]="'group-'+i"
       [cdkDropListData]="g.times"
       [cdkDropListConnectedTo]="['times-list', ...groupIds]"
       (cdkDropListDropped)="drop($event, i)"
       class="group-block">

    <h5>Grupo {{i+1}}</h5>

    <div *ngFor="let t of g.times"
         cdkDrag
         class="time-card">
      {{t.national}}
      <button class="delete-btn" (click)="deleteTime(t)">🗑️</button>
    </div>
  </div>
</div>




